h1 {
  text-align: center;
  padding: 10px;
  color: #FFF;
}
body {
  background-color: #94618E;
}

.quote{
  background-color: 
  white;
  text-align: center;
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 25px;
  color: #94618E;
  padding: 50px;
}
button {
  border-radius: 25px;
  background-color: #94618E;
  color: white; 
}
h5 {
  color: white;
  text-align: center;
}

a {
  color: #FFF;
  text-decoration: none;
}